<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DOs</title>
</head>
<body>
    <h1>Welcome {{ user_list["name"] }}</h1>
    <h1>To Do</h1>

    {% for todo in todo_list %}

   


    <p>{{todo["task"]}}</p>
    <!-- <input type="checkbox" name={{ todo['is_done']  }}> -->

    {% if todo["is_done"] == true %}
        <p>✅</p>
    {% else %}
        <p>❌</p>
    {% endif %}

    {% endfor %}



</body>
</html>